/*.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    border: blue;
}*/

/*familia de fuentes: 'Montserrat', sans-serif;
familia de fuentes: 'Old Standard TT', serif;
familia de fuentes: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Old Standard TT', serif;    
}